
<div class="d-flex">
  
 <app-sidebar></app-sidebar>

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>buscador:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
        <hr class="text black" class="form control" />
        <div class="row">
          <div class="col">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
            impedit ex, a sequi hic dolor eius deleniti molestias adipisci
            possimus totam quam explicabo, saepe quis neque eveniet! Repellat,
            itaque labore.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
